{% extends 'clones/main.html' %}
{% block content %}
{% load static %}


<div class="row">
  <div class="col-sm">
    <div class="card" style="width: 18rem;">

      <div class="card-body">
        {% for detail in details %}
        <h5 class="card-title">{{ detail.title }}</h5>
        {% endfor %}
        <br>
        {% for card in cards %}
        <h5 class="card-title">{{ card.title }}</h5>
        {% endfor %}  
      <div class="add">
      </div>
        <a href="{% url 'card' user %}" class="btn">add another card</a>
      </div>
    </div>  
  </div>
   
  
 
  {% for boardlist in boardlists %} 
  
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
     
      <div class="card-body">
        <h5 class="card-title">{{ boardlist.title }}</h5>
        <br>
        {% for card in cards %}
        {{ card.title }}
        {% endfor %} 
      </div>
      
    </div>
    <a href="{% url 'card' user %}" class="btn">add another card </a>
</div>    
{% endfor %}

<div class="card_list">
  <a href="{% url 'cardlist' %}">Add another List</a>  
  </div>

{% endblock %}